<!DOCTYPE html>
<html>
  <head>
    <title>Display Voting</title>
    <link rel='stylesheet' href='css/stylesheet.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <form action="/clear" method="POST">
			<input name="clear" type="Submit" class="btn btn-top-color" value="Clear All Votes">
		</form>
  </body>
  </html>