<!DOCTYPE html>
<html>
  <head>
    <title>CS Display Ranking</title>
    <link rel='stylesheet' href='css/stylesheet.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <!-- TODO: Remove this when AJAX call is working.  -->
    <meta http-equiv="refresh" content="60">
  </head>
  <body>
  	<div id="leaderboard">
    	
    	<table class="table-fill">
			<!-- <caption><h1>Computer Science Open House Displays Leaderboard</h1></caption> -->
			<thead>
				<tr>
					<th>RANK</th>
					<th>DISPLAY</th>
					<th>Votes</th>
				</tr>
			</thead>
			<tbody>
				<% for(i=1;i<=displays.length;i++) {%>
				<tr>
					<td><%= i %></td>
					<td><%= displays[i-1].name %></td>
					<td><%= displays[i-1].votes %></td>
				</tr>
				<% } %>
			</tbody>
    	</table>


	</div>
  </body>

  <!--  <footer class="footer">
  	
  	<p>Copyright &copy; 2018. All Rights Reserved </p>
  	<p>Developed by <a href="http://www.RyanPaulWilliams.com">Ryan Williams</a>, <a href="https://github.com/cjmeeks">Clifford Meeks</a>, and <a href="https://github.com/djlovell">Danny Lovell</a></p>
  	<p>Icons made by <a href="https://www.freepik.com">Freepik</a> from <a href="https://www.flaticon.com">www.flaticon.com</a></p>
  </footer> -->
</html>

<script>
	/* Scroll up and down in an infinite loop.
	   Courtesy of http://jsfiddle.net/QUCWe/ */
	function scroll(speed) {
	    $('html, body').animate({ scrollTop: $(document).height() - $(window).height() }, speed, function() {
	        $(this).animate({ scrollTop: 0 }, speed);
	    });
	}

	speed = 5000;

	scroll(speed)
	setInterval(function(){scroll(speed)}, speed * 2);

	/* Untested auto refresh. Test once db is integrated */
	// setInterval(function
	//    $('html, body').load('app.js');
	// }, 2000) /* time in milliseconds (ie 2 seconds)*/

	/* Refresh every 5 seconds. Not tested for actual server */
	// setInterval(function() {
	// 	$('html, body').load('../app.js', function() {
	// 		// alert('Load was performed');
	// 	});	
	// }, 5000) /* time in milliseconds */

	// $('html, body').load('app.js', function() {
	// 	alert('Load was performed');
	// });
</script>