<!DOCTYPE html>
<html>
  <head>
    <title>CS Display Ranking</title>
    <link rel='stylesheet' href='css/stylesheet.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <!-- TODO: Remove this when AJAX call is working.  -->
    <meta http-equiv="refresh" content="60">
  </head>
  <body>
  	<div id="leaderboard">
    	
    	<table class="table-fill" id="table">
			<!-- <caption><h1>Computer Science Open House Displays Leaderboard</h1></caption> -->
			<thead>
				<tr>
					<th>RANK</th>
					<th>DISPLAY</th>
					<th>Votes</th>
				</tr>
			</thead>
			<tbody>
				<% for(i=1;i<=displays.length;i++) {%>
				<tr>
					<td><%= i %></td>
					<td><%= displays[i-1].name %></td>
					<td><%= displays[i-1].votes %></td>
				</tr>
				<% } %>
			</tbody>
    	</table>


	</div>
  </body>
</html>

<script>
	const SCROLL_SPEED = 15000;		// 5 seconds
	const INTERVAL = SCROLL_SPEED * 2; 	

	/* Scroll up and down in an infinite loop.
	   Courtesy of http://jsfiddle.net/QUCWe/ */
	function scroll(speed) {
	    $('html, body').animate({ scrollTop: $(document).height() - $(window).height() }, speed, function() {
	        $(this).animate({ scrollTop: 0 }, speed / 2);
	    });
	    // auto_refresh();
	}
	scroll(SCROLL_SPEED);
	setInterval(function(){scroll(SCROLL_SPEED);}, INTERVAL);

	/* Refresh the page with an AJAX call */
	// function auto_refresh() {
	// 	$('table').load('leaderboard');
	// 	console.log("Interval refreshed yo");
	// }
	// setInterval( function(){auto_refresh()}, 30000);
</script>