<!DOCTYPE html>
<html>
  <head>
    <title>CS Display Ranking</title>
    <!-- <link rel='stylesheet' href='css/stylesheet.css' /> -->
    <link rel='stylesheet' href='css/spaceship.css' />
    
  </head>
  <body>
    <!-- Spaceship loading screen -->
    <div class="circle">
      <ul>
        <li id="one"></li>
        <li id="two"></li>
        <li id="three"></li>
        <li id="four"></li>
        <li id="five"></li>
        <li id="six"></li>
        <li id="seven"></li>
        <li id="eight"></li>
        <li id="nine"></li>
        <li id="ten"></li>
        <li id="eleven"></li>
        <li id="twelve"></li>
        <li id="thirteen"></li>
        <li id="fourteen"></li>
        <li id="fifteen"></li>
        <li id="sixteen"></li>
        <li id="seventeen"></li>
        <li id="eighteen"></li>
        <li id="nineteen"></li>
        <li id="twenty"></li>
        <li id="twentyone"></li>
        <li id="twentytwo"></li>
        <li id="twentythree"></li>
        <li id="twentyfour"></li>
        <li id="twentyfive"></li>
      </ul>
      <div class="spaceship">
        <div class="body"></div>
        <div id="window"></div>
        <div id="window2"></div>
        <div id="triangle"></div>
        <div id="triangle2"></div>
        <div id="wing"></div>
        <div id="wing2"></div>
        <div id="middle"></div>
        <div id="middle2"></div>
      </div>
    </div>
  </body>
</html>
