<!DOCTYPE html>
<html>
  <head>
    <title>Display Voting</title>
    <link rel='stylesheet' href='../public/css/stylesheet.css' />
  </head>
  <body>
  	<div id="vote">
  		<!-- The grid of CS Open House Project cards -->
	    <section class="card-container">
	    	<div class="card">
	    		<figure class="card_icon">
	    			<img src="../public/images/icons/startup.svg">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 1</h3>
	    		</header>
	    	</div>

	    	<div class="card">
	    		<figure class="card_icon">
	    			<img src="../public/images/icons/startup.svg">
	    		</figure>
	    		<header class="card_title">
	    			<h3> Display Name 2</h3>
	    		</header>
	    	</div>

	    	<div class="card">
	    		<figure class="card_icon">
	    			<img src="../public/images/icons/startup.svg">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 3</h3>
	    		</header>
	    	</div>

	    	<div class="card">
	    		<figure class="card_icon">
	    			<img src="../public/images/icons/startup.svg">
	    		</figure>
	    		<header class="card_title">
	    			<h3>Display Name 4</h3>
	    		</header>
	    	</div>
	    </section>
	</div>
  </body>
</html>
