
html {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: white;
	background-color: #5a2b81;
}

body {
	height: 100%;
	margin: 0;
}

h1 {
	font-size: 42px;
}

a {
	color:white;
}
.clear-btn {
  width: 100%;
  height: 100%;
}
.addDisplayGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px 20px 20px;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
    grid-gap: 3px;
}

.label1 {
  grid-column: 1;
  grid-row: 1;
}
.label2 {
  grid-column: 1;
  grid-row:2;
}
.input1 {
  grid-column: 2;
  grid-row: 1;
}
.input2 {
  grid-column: 2;
  grid-row: 2;
}

.addSubmitButton {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}
.card {
	box-shadow: 0px 2px 5px rgba(0,0,0,0.12);
  background-color: white;
  color: #5a2b81;
  height: 100px;
}
.card:hover {
	box-shadow: 0px 14px 28px rgba(0,0,0,0.35);
	cursor: pointer;
  background-color: #f7f8f8;
  color: #5a2b81;
}

.list{
  margin: 0;
  padding:0;
}
.list-item{
  background-color: white;
  color: #5a2b81;
  padding: 2px;
  border: solid #5a2b81;
  border-radius: 5px;
}

.admin-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 10% 5% 3% 50%;
  grid-gap: 10px;
}
.admin-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  text-align: center;
  background: gray;
  margin: 0;
}
.admin-subtitle {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
  text-align: center;
  margin: 0;
  padding:0;
  color: white;
  border-bottom: solid white;
}

.admin-option-1-header {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    margin: 0;
    padding:0;
}
.admin-option-1 {
  grid-column: 1;
  grid-row: 4;
  border: solid white;
}
.admin-option-2-header {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
    margin: 0;
    padding:0;
}
.admin-option-2 {
  grid-column: 2;
  grid-row: 4;
  border: solid white;
}
.admin-option-3-header {
  grid-column: 3;
  grid-row: 3;
  text-align: center;
    margin: 0;
    padding:0;
}
.admin-option-3 {
  grid-column: 3;
  grid-row: 4;
  overflow-y: scroll;
}