/* ============================================================
Basic styles
==============================================================*/

html {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: white;
	/* background-color: #5a2b81; */
	background-color: #fff;
}

body {
	height: 100%;
	margin: 0;
}

h3 {
	color: #3d3d3d;
}

a {
	color:white;
}

/* Footer style from https://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates */
.footer {
	background-color: #919194;
	/*background-color: #292c2f;*/

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	/*text-align: center;*/
	margin: 0;
	
	padding: 45px;
	margin-top: 80px;
}


/* ============================================================
Responsive Voting Card Grid and button
Grid inspired by:
https://bryanlrobinson.com/blog/2017/07/26/howto-css-grid-layout-to-make-a-simple-fluid-card-grid/
==============================================================*/

/* Allow us to include the padding and border in the total width an height */
#vote * {
	box-sizing: border-box;
}

#vote .card {
	box-shadow: 0px 2px 5px rgba(0,0,0,0.12);
	background-color: white;

}
#vote .card:hover {
	box-shadow: 0px 14px 28px rgba(0,0,0,0.35);
	cursor: pointer;
	background-color: #f7f8f8;
}

#vote .card_title {
	font-size: 2rem;
	padding: .5rem;
	text-align: center;
}

#vote .card-container {
	display: grid;
	padding: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 2rem;
}

#vote img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
}

/* Green check mark icon
 Inspired by https://codepen.io/andytran/pen/BNjymy */
#vote .voted {
	display: block;
	visibility: hidden;
	/*position: absolute;*/
	top: 20px;
	right: 20px;
	z-index: 1;
	width: 50px;
	height: 50px;
	padding: 9px 0;
	font-weight: 700;
	text-align: center;
	background-color: green;
	border-radius: 100%;

	margin: 10px;
}

#vote .title {
	/*border: 1px solid black;*/
	background-color: #919194;
	text-align: center;
	padding: 10px 32px;
}


/* Button from:
   https://tympanus.net/Development/CreativeButtons/ */
#vote .btn {
	border: none;
	font-family: inherit;
	font-size: 24px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	cursor: pointer;

	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #808083;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;

	border-radius: 0 0 5px 5px;
}

#vote .btn:hover {
	box-shadow: 0 4px #808083;
	top: 2px;
}

#vote .btn:active {
	box-shadow: 0 0 #808083;
	top: 6px;
}

#vote .btn-top-color {
	background: #919194;
}

#vote .btn-wrapper {
	display: flex;
	justify-content: center;
}

/* ============================================================
Leaderboard styles
Inspired by https://codepen.io/anon/pen/aYVpvX
==============================================================*/
/* Table Borders */
/*#leaderboard table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}*/

/* Cell Padding */
/*#leaderboard th, td {
	padding: 15px;
}
*/

#leaderboard caption {
	background: #919194;
}

/* General table styles */
#leaderboard .table-fill {
	/* background: #5a2b81; */
	border-radius: 3px;
	border-collapse: collapse;
	/* height: 320px; */
	margin: auto;
	width: 85%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
	/*padding: 100px;*/
	/*max-width: 1000px;*/
}


/* Table header styles */
#leaderboard th {
	color: white;
	/*background: #919194;*/
  	/* border-right: 1px solid black; */
  	border-bottom: 1px solid black;
	  font-size: 28px;
	  font: bold;
  	/*padding: 24px;*/
	  text-align: center;
	  background: #7B1FA2;
  	/*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
}

/* Table row styles */
#leaderboard tr {
	/* border-bottom: 1px solid black; */
	font-size: 24px;
	height: 50px;
	color: black;
}


#leaderboard tr:first-child {
  border-top:none;
}

#leaderboard tr:last-child {
  border-bottom:none;
}
 
/* Make every other row a darker shade of purple */
#leaderboard tr:nth-child(odd) td {
  background: rgb(245, 245, 245);
}

/* Table data styles */
#leaderboard td {
	background: #fff;
	/* padding: 20px; */
	text-align: center;
}
