/* ============================================================
Basic styles
==============================================================*/

html, body {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #5a2b81;
  /*background-color: #919194;*/
  
}

h3 {
	color: #3d3d3d;
}

/* ============================================================
Responsive Voting Card Grid
Inspired by:
https://bryanlrobinson.com/blog/2017/07/26/howto-css-grid-layout-to-make-a-simple-fluid-card-grid/
==============================================================*/

/* Allow us to include the padding and border in the total width an height */
#vote * {
	box-sizing: border-box;
}

#vote .card {
	box-shadow: 0px 2px 5px rgba(0,0,0,0.12);
	background-color: white;
}
#vote .card:hover {
	box-shadow: 0px 14px 28px rgba(0,0,0,0.35);
	cursor: pointer;
}

#vote .card_title {
	font-size: 2rem;
	padding: .5rem;
	text-align: center;
}

#vote .card-container {
	display: grid;
	padding: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
}

#vote img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
}


