<!DOCTYPE html>
<html>
  <head>
    <title>Create Display</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/">Display List</a></h3>
      <h1>Create New Display</h1>
      <form action="/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><textarea name="description"></textarea></td>
            </tr>
            <tr>
              <td>Votes</td>
              <td><input type="number" name="votes" /></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" value="Save" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>